/* Learning Platform CSS */

/* Importing Google Fonts */
@font-face {
  font-family: 'Rajdhani';
  src:url(../fonts/Rajdhani-Font.woff2) format('woff2');
}
/* IE 10 & 11 */
@font-face {
  font-family:'Rajdhani';
  src: url(../fonts/rajdhani.light.ttf);
}

@font-face {
  font-family:'Great Vibes';
  src: url(../fonts/GreatVibes-Regular.otf);
}

/* Image Logo */
.lp-logo{
  height: 195px;
  width: 314px;
}
/* NavBar Css */
.navbar-nav li:hover .dropdown-menu {
  display: block;
  background-color: #F0DDD6;
}
.nav-link{
  color: #000 !important;
  font-family: 'Rajdhani', sans-serif;
  font-size: 18px;
}
.nav-link:hover{
  color: #997361 !important;
  transition: 0.8s;
}
/* Dropdown Css */
.dropdown-item{
  color: #000;
  font-family: 'Rajdhani', sans-serif;
  transition: 0.5s;
}
.dropdown-item:hover{
  color: #997361;
  opacity: 0.5;
  transition: 0.5s;
  background-color: #fff;
}
.dropdown-menu{
  border:none;
  border-radius:0px;
  padding: 0px;
}
.dropdown-divider{
  color:#fff;
  border: 1px solid #fff;
}

/* NavBar Toggle icon */
.navbar-toggler{
  border-radius: 0px !important;
  border: 1px solid #0c2744 !important;
  opacity: 0.5 !important;
}

/* Footer CSS */
/* Fixed footer */
/* .footer
{
position:absolute;
bottom:0;
width:100%;
height:2em;
background-color:transparent;
} */


/* Login box card css */
.login-card{
  width: 50%;
  margin-left:auto;
  margin-right:auto;
  border-radius:0px;
  border-color: #F1E0DA;
}

/* Login Button */
.btn-login{
  color: #84685E;
  background-color: #F0DED6;
  border: 1px solid #D0B8B4;
  border-radius: 0px;
}

.btn-login:hover{
  color: #fff;
  background-color: #81605E;
  border: 1px solid #fff;
  border-radius: 0px;
  transition: 0.5s;
}

/* Input Textbox Css */
.form-control{
  border-radius: 0px;
  border-color:#D0B8B4;
}

/* Login Box Close Button */
.btn-close{
  display: flex;
  justify-content: flex-end;
  color: #000;
}

/* default label */
label{
  font-family: 'Rajdhani';
  font-weight: bold;
  font-size: 12px;
}

/* Banner with background image */
.content-banner{
  background: url('../images/bannerimg.jpg') no-repeat;
  -webkit-background-size: cover;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  border-radius:0px;
}

/* Banner Text  */
.banner-text{
  border:1px solid #A48E87;
  background-color:rgba(255,255,255,0.8);
}
/* Banner inner sub text */
.lp-text{
  font-family: 'Great Vibes';
  color: #223521;
  font-size:15px;
}

/* Hr border start */
.hr-start{
  border: 1px solid #EFDCD5;
  width: 80%;
  margin-top:40px;
}
/* Hr border end */
.hr-end{
  border: 1px solid #EFDCD5;
  width: 50%;
  margin-top:40px;
}

/* Card Flip using AOS  */
.card-flip{
  border-radius: 0px;
  border:1px solid rgba(82,70,70,0.5);
  margin-top: 25px;
}
.card-flip:hover{
  background-color:#0C2744;
  transition: 0.5s !important;
  color:#fff;
  cursor: pointer;
}
.card-flip:hover a{
  color:#BDABA9;
}
/* Custom Bullet points */
.custom-bullet{
  list-style-image: url('../images/icons/iconbullet.png');
}
/* <a href> tag */
a{
  text-decoration:none !important;
  color:#000;
}
a:hover{
  color: #fff !important;
  transition: 0.8s;
}

.category-txt{
  font-family: Arial;

}
